body    {
    background-color: black;
    color: white;
}

.topic div:nth-child(1) {
    font-size: 35px;
    text-align: center;
}
.topic div:nth-child(2) {
    font-size: 15px;
    text-align: center;
}

a{
    color: lightgreen;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}